body 

{ 
   
   background-image: url(pozadina.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.container 

{ 
   
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 200px;
  flex-direction: column;

}



#back 

{
   
   font-size: 50px;
   font-weight: bold;
   color: black;
   margin-top: 300px;

}



a:link    {text-decoration: none;
           color: black;}

a:visited {text-decoration: none;
           color: black;}

a:hover {text-decoration: none;
         color: rgb(90, 56, 14);}

a:active {text-decoration: none;
         color: black; }



   
@media screen and (max-width: 1408px) 

{
    .container { font-size: 20px;}
   
}
 


@media screen and (max-width:768px)

{ 
   
   .container {font-size: 15px;}

    #back {font-size: 30px;}
}


@media screen and (max-width:576px)

{ 
   
   .container {font-size: 11px;}

}

   