
 body
 
 {

 background-image: url(tdns.jpeg);
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;

}

.container 

{

   display: flex;
   flex-direction: column;
  
  }



.main 

{
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 

{
  color: white;
  font-size: 250px;
  position: fixed;
  margin-top: 200px;
  font-family: 'Nanum Myeongjo', serif;

}


  
h2 

{
  color: white;
  font-size: 100px;
  margin-top: 450px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  
}

.nav


{
  display: flex;
  justify-content: center;
  align-items: center;
 
}


ul 

{ 
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 180px;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  border: solid white 1px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;


}


li

{ 
  
  display: inline;
  margin: 0 15px 0 15px;
 
}


a

{

  text-decoration: none;
  color: white;
  justify-content: space-between;

}



a:link  { color:white;}
a:visited {color: white;}
a:hover {color: black;}
a:active { color: white;}








    

@media (max-width: 1666px) {
  body {
background-color: lightblue;
  }

    h1 {font-size: 120px;
      position: fixed;
      margin-top: 150px;}

      h2{ font-size: 80px;
      margin-top: 400px;
}

 li {font-size: 45px;}

   }
  



@media (max-width: 1200px) 
  {  body {
    background-color: lightblue;
  }

    h1 {font-size: 100px;
      position: fixed;
      margin-top: 100px;}

      h2 { font-size: 50px;
      margin-top: 250px;}

      ul { font-size: 30px;
        margin-top: 300px;
 }

  }


  @media (max-width:768px) { 
    body { background-color: lightblue ;}

    h1{ font-size: 80px;
    position: fixed;

  }

  h2 { font-size:30px;
  margin-top: 190px;}

  li {font-size:25px;}
  }




  @media (max-width:576px) {
    body { background-color: lightblue;}


  h1 {font-size: 60px;}

  h2 {font-size:30px;}

  li {font-size: 25px;} }






  @media (max-width:402px) 
 { 
  body {background-color: lightblue;}

  h1 {font-size:40px;}

  h2 {font-size:25px;}

  li { display: block;
  font-size: 22px;} 

ul {
  flex-direction: column;
  align-items: center;
  width: 200px;
}

}
  